<div class="login_page">
	<div class="uk-container uk-container-center">
		<div class="login_container">
			<div class="icon_container">
				<i class="uk-icon-user"></i>
			</div>
			<div class="form_header">
				<h2>
					Member Login
				</h2>
			</div>
			<form class="login_form" #form="ngForm" (ngSubmit)="signInWithEmailPassword(form)">

				<div class="form_group">
					<input class="username"
					 	    #email 
					 	    name="email" 
					 	    type="text" 
					 	    placeholder="Username"
					 	    [(ngModel)]="user.email"
					 	    required>
				</div>
				<div class="form_group">
					<input class="password"
						    #password 
						    name="password" 
						    type="password" 
						    placeholder="Password" 
						    [(ngModel)]="user.password"
						    required>
				</div>
				<div class="form_group">
					<input class="submit" 
					       name="submit" 
					       type="submit" 
					       value="LOGIN"
					       [disabled]="!form.valid">
				</div>
				<div class="form_group">
					<a href="#" class="forget_password">Forgot password?</a>
				</div>
				
			</form>
		</div>
	</div>
</div>