<div class="login_page">
	<div class="uk-container uk-container-center">
		<div class="login_container">
			<div class="icon_container">
				<i class="uk-icon-user"></i>
			</div>
			<div class="form_header">
				<h2>
					Member Login
				</h2>
			</div>
			<form class="login_form">

				<div class="form_group">
					<input class="username" name="username" type="text" placeholder="Username">
				</div>
				<div class="form_group">
					<input class="password" name="password" type="password" placeholder="Password">
				</div>
				<div class="form_group">
					<input class="submit" name="submit" type="submit" value="LOGIN">
				</div>
				<div class="form_group">
					<a href="#" class="forget_password">Forgot password?</a>
				</div>
				
			</form>
		</div>
	</div>
</div>