<div class="login_page">
	<div class="uk-container uk-container-center">
		<div class="login_container" id="login">
			<div class="icon_container">
				<i class="uk-icon-user"></i>
			</div>
			<div class="form_header">
				<h2>
					Member Login
				</h2>
			</div>
			<form class="login_form" #form="ngForm" (ngSubmit)="signInWithEmailPassword(form)" style="display: none;">

				<div class="form_group">
					<input class="input"
					 	    #email 
					 	    name="email" 
					 	    type="text" 
					 	    placeholder="Username"
					 	    [(ngModel)]="user.email"
					 	    required>
				</div>
				<div class="form_group">
					<input class="input"
						    #password 
						    name="password" 
						    type="password" 
						    placeholder="Password" 
						    [(ngModel)]="user.password"
						    required>
				</div>
				<div class="form_group">
					<input class="submit login" 
					       name="submit" 
					       type="submit" 
					       value="LOGIN"
					       [disabled]="!form.valid">
				</div>
				
			</form>
		</div>

		<!-- Signup new user -->
<!-- 		<div class="signup_container" id="signup">
			<div class="icon_container">
				<i class="uk-icon-sign-in"></i>
			</div>
			<div class="form_header">
				<h2>
					Registration
				</h2>
			</div>
			<form class="login_form" #formregister="ngForm" (ngSubmit)="createUserWithEmailPassword(formregister)">

				<div class="form_group">
					<input class="input"
					 	    #firstname 
					 	    name="firstname" 
					 	    type="text" 
					 	    placeholder="First name" 
					 	    required>
				</div>

				<div class="form_group">
					<input class="input"
					 	    #lastname 
					 	    name="lastname" 
					 	    type="text" 
					 	    placeholder="Last name"
					 	    required>
				</div>

				<div class="form_group">
					<input class="input"
					 	    #uusername 
					 	    name="uusername" 
					 	    type="text" 
					 	    placeholder="Username"
					 	    required>
				</div>

				<div class="form_group">
					<input class="input"
					 	    #uemail 
					 	    name="uemail" 
					 	    type="text" 
					 	    placeholder="Email"
					 	    required>
				</div>

				<div class="form_group">
					<input class="input"
					 	    #batch 
					 	    name="batch" 
					 	    type="text" 
					 	    placeholder="Batch year"
					 	    required>
				</div>

				<div class="form_group">
					<label for="male">Male</label>
					<input class="input"
					 	    #gender 
					 	    name="gender" 
					 	    type="radio" 
					 	    value="male" 
					 	    id="male" 
					 	    >

					<label for="female">Female</label>
					<input class="input"
					 	    #gender 
					 	    name="gender" 
					 	    type="radio" 
					 	    value="female" 
					 	    id="female" 
					 	    >
				</div>

				<div class="form_group">
					<input class="input"
						    #upassword 
						    name="upassword" 
						    type="password" 
						    placeholder="Password" 
						    required>
				</div>

				<div class="form_group">
					<input class="input"
					 	    #comfirmpass 
					 	    name="comfirmpass" 
					 	    type="password" 
					 	    placeholder="Repeat password"
					 	    required>
				</div>

				<div class="form_group">
					<input class="submit signup" 
					       type="submit" 
					       value="Register">
				</div>
				
			</form>
		</div> -->
		<!-- /Signup new user -->
	</div>
</div>