@import 'plugin/bourbon/_bourbon.scss';
/* 
 * PAGE : Main visaul
 * SECTION : Header navigation
 */

@import url('https://fonts.googleapis.com/css?family=Dosis:100,300,400,500,600,700');
html{
	background: none;
	background-image: none;
}
body{
	position: relative;
	background: $white;
	font-family: $font_en;
	font-size: 14px;
	font-weight: 300;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	letter-spacing: 0;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

.uk-container{
	max-width: 100%;
	width: 100%;
	padding: 0 25px;
}

.login_page{
	position: relative;
	width: 100%;
	height: 100vh;
	margin: 0;
	padding: 0;
	background: lighten($pumpkin,3%);
	@include clearfix();

	&:before{
		position: absolute;
		display: block;
		content:"";
		width: 100%;
		height: 100%;
		background: rgba(0,0,0,0.2);
		color: rgba(0,0,0,0.2);
		-webkit-clip-path: polygon(36% 79%, 64% 21%, 100% 100%, 47% 100%);
		clip-path: polygon(36% 79%, 64% 21%, 100% 100%, 47% 100%);
	
	}

	.uk-container{
		height: 100%;
		@include display-flex();
		@include align-items();
		@include justify-content();
	}
}

.login_container,
.signup_container{
	position: relative;
	max-width: 400px;
	width: 400px;
	background: rgba($lightgray,0.96);
	padding: 50px 40px;
	margin: 0 auto;
	border-radius: 3px;
	z-index: 1;
	border: 1px solid darken($lightgray,5%);
	box-shadow: 1px 1px 1px rgba(0,0,0,0.2);
	@include box-sizing(border-box);
	@include clearfix();



	.icon_container{
		position: absolute;
		@include display-flex();
		@include align-items();
		@include justify-content();
		left: 50%;
		top: -45px;
		margin-left: -45px;
		width: 90px;
		height: 90px;
		border-radius: 100%;
		background: lighten($sunflower,10%);
		box-shadow: 1px 1px 2px rgba(5,5,5,0.3);

		i{
			
			line-height: 60px;
			font-size: 60px;
			height: 60px;
			width: 60px;
			color: $white;
			text-align: center;
		}
	}

	.form_header{
		position: relative;
		background: transparent;
		width: 100%;
		float: left;
		@include box-sizing(border-box);
		text-align: center;
		padding: 25px;

		h2{
			font-family: $font_en;
			text-transform: uppercase;
			margin: 0;
			font-size: 170%;
			font-weight: 500;
			color: #666;
		}
	}

	.login_form{
		position: relative;
		width: 100%;
		float: left;
		@include clearfix();
		@include box-sizing(border-box);
	}

	.form_group{
		position: relative;
		width: 100%;
		float: left;
		padding-bottom: 15px;

	}

	input{
		outline: none;
		border: none;
		border-radius: 5px;
		font-family: $font_en;
		text-align: center;
		
		
	}

	.input{
		display: block;
		width: 100%;
		padding: 8px 20px;
		background: rgba(0,0,0,0.1);
		color: #555;
		font-weight: 600;
		font-size: 140%;
		line-height: calc(150%*1);
		outline: 2px solid transparent;
		@include transition-prefix(all 0.45s ease-out);
		@include box-sizing(border-box);

		&:hover{
			outline-color: rgba(0,0,0,0.12);
			border-radius: 0;
		}

		&:focus{
			outline-color: rgba(0,0,0,0.12);
			border-radius: 0;
		}

	}

	.submit{
		display: block;
		margin: 0 auto;
		width: 100%;
		color: $white;
		font-size: 140%;
		font-weight: 600;
		line-height: calc(140%*1);
		padding: 10px 35px;
		background: lighten($sunflower,5%);
		cursor: pointer;
		outline: 5px solid transparent;
		@include box-sizing(border-box);
		@include transition-prefix(all 0.25s ease-out);
		&:hover{
			outline-color: rgba($sunflower,0.2);
			border-radius: 0;
			background: darken($sunflower,2%);
		}

	}

	.forget_password{
		display: block;
		margin: 10px auto 0 auto;
		text-align: center;
		color: $orange;
		font-size: 125%;
		@include transition-prefix(color 0.3s ease-out);

		&:hover{
			color: darken($orange,10%);
			text-decoration: none;
		}
	}
}

.header{
	background: #fff;
	box-shadow: 0px 2px 18px rgba(0,0,0,0.2);
	height: 70px;
	z-index: 100;
	@include clearfix()

	.logo{
		position: relative;
		height: 70px;
		width: 70px;
		@include clearfix();
		@include display-flex();
		@include align-items();
		.logo_inner{
			position: relative;
			display: block;
			text-decoration: none;
			color: lighten($darkslay,10%);
			line-height: 40px;
			width: 40px;
			border: 2px solid lighten($darkslay,10%);
			height: 40px;
			border-radius: 100%;
			font-size: 32px;
			font-family: $font_en;
			text-align: center;
		}
	}

	.global_nav{
		position: relative;
		float: left;
		width: auto;
		height: 70px;

		ul{
			display: block;
			list-style-type: none;
			margin: 0;
			height: 70px;
		}

		li{
			display: inline;
			float: left;
			height: 100%;
		}

		a{
			display: block;
			height: 70px;
			font-size: 110%;
			text-decoration: none;
			text-transform: uppercase;
			padding: 0 10px;
			color: lighten($darkslay,30%);
			line-height: 70px;
			@include transition-prefix(all 0.25s ease-out);
			&:hover{
				color: $darkslay;
			}
		}
	}

	.right_header{
		position: relative;
		float: right;
		width: auto;
		height: 70px;
		position: relative;
		@include clearfix();

		.profile{
			position: relative;
			float: left;
			height: 70px;
			@include display-flex();
			@include justify-content();
			@include align-items();

			.inner{
				height: 30px;

			}

			a{
				display: inline-block;
				float: left;
				text-decoration: none;
			}

			.pic{
				
				img{
					display: block;
					width: 35px;
					height: 35px;
					border-radius: 100%;
					box-shadow: 1px 0.5px 1.5px rgba(0,0,0,0.2);
					vertical-align: bottom;
				}
			}

			.username{
				display: none;
				line-height: 40px;
				color: $lightgray;
				font-size: 120%;
			}

		}

		.helper{
			float: left;
			position: relative;
			height: 70px;
			@include clearfix();

			.notification,
			.setting{
				float: left;
				height: 70px;
				padding-right: 20px;
				@include display-flex();
				@include justify-content();
				@include align-items();

				.icon{
					position: relative;
					padding: 4px;
					background: rgba(0,0,0,0.3);
					border-radius: 100%;
					width: 25px;
					height: 25px;
					text-decoration: none;
					color: $lightgray;
					font-size: 100%;
					line-height: 1;
					text-align: center;
					@include transition-prefix(all 0.2s ease-out);
					@include box-sizing(border-box);

					&:hover{
						color: $white;
						background: rgba(0,0,0,0.2);
						box-shadow: inset 0px 0.5px 0.8px rgba(0,0,0,0.4);
					}

					i{
						vertical-align: middle;
					}
				}
			}

			
		}

	}
}

.dashboard{
	position: relative;
	width: 100%;
	float: left;
	z-index: -1;
	@include clearfix();

	.left_sidebar{
		position: relative;
		float: left;
		width: 320px;
		padding: 0 10px;
		min-height: 100vh;
		z-index: 1;
		background: lighten($pumpkin,3%);

		.sidebar_navbar{
			position: relative;
			width: 100%;
			float: left;
			z-index: 10;
			padding: 25px 0;

		}

		a{
			display: block;
			text-decoration: none;
			margin: 0 auto;
			color: #f2f2f2;

		}

		.userprofile{
			width: 100%;
			float: left;

			.profilepic{
				width: 60px;
				height: 60px;
				border-radius: 100%;
				img{
					display: block;
					border-radius: 100%;
				}
			}

			.username{
				font-size: 130%;
				font-weight: 500;
				margin: 5px 0 20px 0;
				text-align: center;

			}
		}

		.sidebar_nav{
			position: relative;
			width: 100%;
			float: left;
			@include clearfix();

			ul{
				list-style-type: none;
				margin: 0;
				padding: 0;

				li{
					display: block;
					margin-top: 3px;
				}

				a{
					font-size: 130%;
					padding: 13px;
					background: rgba(0,0,0,0.1);
					@include transition-prefix(all 0.3s ease-out);

					.icon_outer{
						display: inline;
					}

					i{
						background: rgba(0,0,0,0.2);
						padding: 7px;
						width: 20px;
						height: 20px;
						line-height: 1;
						text-align: center;
						margin-right: 10px;
						border-radius: 100%;

					}

					&:hover{
						background: rgba(0,0,0,0.14);
						box-shadow: inset 0px 0.3px 0.5px rgba($darkslay,0.2);
					}
				}
			}		

			.logout{
				position: relative;
				float: left;
				width: 100%;
				margin-top: 30px;
				text-align: center;

				a{
					display: inline-block;
					background: #666;
					padding: 7px 13px;
					font-size: 120%;
					line-height: 1;
					border-radius: 20px;
					text-align: center;
					border: 5px solid $pumpkin;
					@include transition-prefix(all 0.3s ease-out);

					&:hover{
						border: 5px solid lighten($pumpkin,3%);
					}
					
				}
			}
		}
	}

	.content_wrapper{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		z-index: 0;
		float: left;
		padding-left: 320px;

		.content{
			position: relative;
			width: 100%;
			min-height: 100vh;
			@include clearfix();;
		}
	}


}

